
imagens/.DS_Store
.DS_Store
.DS_Store
.DS_Store

# Ignore Mac DS_Store files
.DS_Store
**/.DS_Store

git rm -r --cached .
git add .
git commit -am "Removed git ignored files"
git push -f origin master
.DS_Store
